#food > h2 {
    color: fuchsia;
}
  h1 {
    text-align: center; font-size:  72px; text-shadow: -1px 1px 2px lightgray
     ; font-family:Arial, Helvetica, sans-serif; color: whitesmoke
}
#pagewelcome { 
    font-size: 14px; font-family:Arial, Helvetica, sans-serif
    ; color: lightgray; text-align: center; text-shadow: 1px 1px 2px black;position: relative; top: -30px; /* moves the element up 20px — increase/decrease as needed */
}
#brk {
    text-align: right; color: lightgray; text-shadow: black 1px 1px 2px; font-family:Arial, Helvetica, sans-serif; font-size: 10px;
 font-size:  10px;
}
.selfie-1 {
    display: block; object-position: left; float: left;
    margin-left:  30px; width: 380px; height: 260px; border-radius:50%;
    margin-right: 60px;  border-color: #f564a3b7 ; background: lightgrey; border-style: solid; border-width: 5px;
     border-color: #f564a3b7 ; background: rgb(231, 229, 229); border-style: solid; border-width: 5px;
}
#selfie1 > h2 {
    text-align: center;
     ; display: justify; clear : left ; color: fuchsia; font-family:Arial, Helvetica, sans-serif; font-size: 15px ; float: left; margin-left: 20px; width: 380px; margin: 8px 0px 0px 20px; text-shadow: -1px 1px 1px rgb(46, 46, 46); position: relative; top: -10px;
}
#About >h2 {
    font-size:  32px;  font-family:Arial, Helvetica, sans-serif
    ; color: rgb(190, 189, 189); text-align: center; text-shadow:-1px 1px 1px fuchsia;position: relative; top: 0px; /* moves the element up 20px — increase/decrease as needed */ text-shadow:-2px 2px 3px black;
}
#About > p {
    font-size: 16px; font-family:Arial, Helvetica, sans-serif
    ; color: rgba(0, 0, 0, 0.718); text-align: center; text-shadow:-1px 1px 2px gray;position: relative; top: -25px; margin: 0px 20px 20px 20px;
}
#food > h2 {
    font-size:  32px;  font-family:Arial, Helvetica, sans-serif
    ; text-align: left; text-shadow:-1px 1px 2px fuchsia;position: relative; top: 0px; /* moves the element up 20px — increase/decrease as needed */; margin-left: 50px;
}
#food > p {
    font-size: 14px; font-family:Arial, Helvetica, sans-serif
    ; color: rgba(0, 0, 0, 0.718); text-align: left; text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.371);position: relative; top: -20px; margin: 0px 20px 20px 20px;background-color: rgb(253, 156, 203); margin-right: 955px;
}
#food >ol {
    font-size: 16px; font-family:Arial, Helvetica, sans-serif
    ; color: rgba(0, 0, 0, 0.718); text-align: left; text-shadow:-1px 1px 2px rgb(253, 156, 203);position: relative; top: -25px; margin: 0px 40px 20px 0px; border-color: fuchsia; border-width: 2px; border-style: solid; border-radius: 20px; padding-left: -25px; padding-right: -50px  ; margin-right: 1200px; margin-left: 35px; margin-top: -5px;
    background-color: rgb(243, 122, 243); padding-top: 10px; padding-bottom: 10px; 
}
#anime > h2 {
    font-size:  32px;  font-family:Arial, Helvetica, sans-serif
    ; text-align: left; text-shadow:-1px 1px 2px fuchsia;position: relative; top: 0px; /* moves the element up 20px — increase/decrease as needed */ margin: 40px 20px 20px 20px;
}
.selfie-2 {
    display: block; object-position: right; float: right;
    margin-left:  30px; width: 200px; height: 250px; border-radius:50%;
    margin-right: 60px;  border-color: #f564a3b7 ; background: lightgrey; border-style: solid; border-width: 5px;
     border-color: #f564a3b7 ; background: rgb(231, 229, 229); border-style: solid; border-width: 5px; column-width: 150px; margin-top: -450px;
}
#selfie2 > h2 {
    text-align: center;
     ; display: justify; clear : right ; color: fuchsia; font-family:Arial, Helvetica, sans-serif; font-size: 15px ; float: right; margin-right: 50px; width: 200px; margin: 8px 20px 0px 5px; text-shadow: -1px 1px 1px rgb(46, 46, 46); position: relative; top: -195px; left: -40px;
}
#anime > p {
    font-size: 14px; font-family:Arial, Helvetica, sans-serif
    ; color: rgba(0, 0, 0, 0.718); text-align: left; text-shadow:-1px 1px 2px fuchsia;position: relative; top: -20px; margin: 0px 20px 20px 20px;
}
#anime >ul {
    font-size: 16px; font-family:Arial, Helvetica, sans-serif
    ; color: rgba(0, 0, 0, 0.718); text-align: left; text-shadow:-1px 1px 2px rgb(253, 156, 203);position: relative; top: -30px; margin: 0px 40px 20px 40px;
}
h1 {
    background-color: rgb(243, 122, 243); padding: 20px; border-radius: 15px; border: 5px solid lightgray;
}
#socials {
      font-size: 36px; color: rgb(209, 41, 211); text-align: right; margin-right: 50px; margin-top: -100px;
}
.icon-text {
    font-size: 16px; text-shadow: palevioletred 1px 1px 2px; color: rgba(0, 0, 0, 0.925); 
}
a {
    text-decoration: none !important; text-decoration-style: none !important;
}